{% extends 'base.html' %}
{% block content %}

<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ dog.name }}
              </p>
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Breed: {{ dog.breed }}</p>
                    <p>Description: {{ dog.description|linebreaks }}</p>
                    {% if dog.age > 0 %}
                    <p>Age: {{ dog.age }}</p>
                  {% else %}
                    <p>Age: Puppy</p>
                  {% endif %}
                </div>
            </div>
            <footer class="card-footer">
              <a href="{% url 'dogs_update' dog.id %}" class="card-footer-item">Edit</a>
              <a href="{% url 'dogs_delete' dog.id %}" class="card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
    <div class="column is-two-thirds">
        <form action="{% url 'add_feeding' dog.id %}" method="POST">
          {% csrf_token %}
          <!-- Render the inputs -->
          {{ feeding_form.as_p }}
          <br>
          
          <input type="submit" class="button is-primary" value="Add Feeding">
        </form>
        <br>
      
        <table class="table is-fullwidth is-bordered  is-striped is-narrow is-hoverable is-fullwidthr">
          <thead>
            <tr class="is-bold "><th>Date </th><th>Meal</th></tr>
          </thead>
          <tbody>
            {% for feeding in dog.feeding_set.all %}
              <tr>
                <td class="has-text-left">{{feeding.date}}</td>
                <td class="has-text-left">{{feeding.get_meal_display}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
    container: document.body,
    showClearBtn: true,
    showDaysInNextAndPreviousMonths: true,
    onOpen: function() {
      const calendarEl = document.querySelector('.datepicker-modal');
      calendarEl.classList.add('custom-calendar-container');
    }
});

   // add additional JS to initialize select below
  //  const selectEl = document.getElementById('id_meal');
  // M.FormSelect.init(selectEl);

  
</script>
{% endblock %}